# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
venv/

# Database?

# assets folder at project root
/assets/

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace

# credentials for google API
*.json